@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.feed {
  .item {
    @include margin-bottom(1);
    @include padding-bottom(1); 
    border-bottom: 1px dotted #EEE;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &:last-child {
      @include margin-bottom(0.5);
    }

    .imgContainer {
      align-items: center;
      border-radius: 10px;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      margin-right: 20px;
      max-height: 132px;
      overflow: hidden;
      width: 150px;
    }

    .titleContainer {
      flex-grow: 0;
    }

    .title {
      font-size: $typographic-base-font-size * 1.5;
      @include line-height(1.2);
      @include margin-top(0);
      @include margin-bottom(0.3);

      .link {
        color: var(--color-typographic-base-font);

        &:hover,
        &:focus {
          border-bottom: 1px solid $color-dark;
          color: var(--color-typographic-base-font);
        }
      }
    }

    .subTitle {
      font-size: $typographic-base-font-size * 1.3;
      font-weight: 300;
      @include line-height(1.2);
      @include margin-top(0);
      @include margin-bottom(0);
    }

    .description {
      font-size: $typographic-base-font-size;
      @include line-height(1);
      @include margin-bottom(0.75);
    }

    .meta {
      .time {
        color: var(--color-typographic-base-font);
        font-size: $typographic-small-font-size;
        font-weight: 600;
        text-transform: uppercase;
      }

      .divider {
        @include margin(0, 0.5);
      }

      .category {
        .link {
          color: var(--color-secondary);
          font-size: $typographic-small-font-size;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-blue;
          }
        }
      }
    }

    .more {
      color: var(--color-primary);
      font-size: $typographic-base-font-size;

      &:hover,
      &:focus {
        border-bottom: 1px solid $color-blue;
        color: var(--color-primary);
      }
    }
  }
}
